## Android SDK

Copy this file to `local.properties` and set your SDK path:

```properties
sdk.dir=/path/to/Android/sdk
```

On macOS with Android Studio defaults:

```properties
sdk.dir=/Users/YOUR_USER/Library/Android/sdk
```
